NANO_BANANA_API_KEY=SUBSTITUA_PELA_API
NANO_BANANA_BASE_URL=SUBSTITUA_PELA_URL_DA_API
NANO_BANANA_MODEL=SUBSTITUA_PELO_MODELO
REFERENCE_TRANSLATOR_API_KEY=
REFERENCE_TRANSLATOR_BASE_URL=
REFERENCE_TRANSLATOR_MODEL=
REFERENCE_TRANSLATOR_PROVIDER=
REFERENCE_TRANSLATOR_TIMEOUT_MS=
